// Vendor
//---------------------------------
@import "vendor/normalize";
// @import "vendor/swiper";
// Global
//---------------------------------
@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";
// Blocks
//---------------------------------
@import "blocks/header";
.loader {
    width: 100%;
}

.big-logo {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transform: translateY(-500px);
    -webkit-transform: translateY(-500px);
    -moz-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    -o-transform: translateY(-500px);
}

.big-logo.active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 335px 0 100px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    z-index: 9999;
    img {
        margin-bottom: 212px;
    }
    p {
        font-weight: normal;
        font-size: 24px;
        line-height: 22px;
        color: #000000;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transform: translateY(250px);
        -webkit-transform: translateY(250px);
        -moz-transform: translateY(250px);
        -ms-transform: translateY(250px);
        -o-transform: translateY(250px);
    }
}

.loader.hide {
    opacity: 0;
    visibility: hidden;
}

#text-loader.active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.header {
    padding: 25px 0 25px 0;
    margin-bottom: 118px;
}

.header__wrapper {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    li {
        position: relative;
        margin-right: 24px;
    }
    li.arr:after {
        content: '';
        display: block;
        position: absolute;
        top: 3px;
        right: -14px;
        width: 11px;
        height: 11px;
        background: url(../img/svg/arr.svg) no-repeat center;
    }
    li:last-child {
        margin-right: 0;
    }
    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: #0B0B0B;
    }
    a:hover {
        color: #2C39F2;
    }
}

.header__logo {
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

main {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .title {
        font-weight: normal;
        font-size: 96px;
        line-height: 96px;
        color: #2C39F2;
        transform: translateX(-500px);
        -webkit-transform: translateX(-500px);
        -moz-transform: translateX(-500px);
        -ms-transform: translateX(-500px);
        -o-transform: translateX(-500px);
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
    }
}

.main-img-text {
    img {
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transform: translateX(500px);
        -webkit-transform: translateX(500px);
        -moz-transform: translateX(500px);
        -ms-transform: translateX(500px);
        -o-transform: translateX(500px);
    }
    p {
        margin-bottom: 0;
        font-weight: normal;
        font-size: 30px;
        line-height: 40px;
        color: #000000;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transform: translateX(500px);
        -webkit-transform: translateX(500px);
        -moz-transform: translateX(500px);
        -ms-transform: translateX(500px);
        -o-transform: translateX(500px);
    }
}

.show {
    .header__logo,
    .menu,
    #hamburger-icon {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    .title,
    .main-img-text p,
    .main-img-text img {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.img-mobile {
    display: none;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#hamburger-icon {
    position: relative;
    display: none;
    width: 30px;
    height: 18px;
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

#hamburger-icon .lineHamb {
    position: absolute;
    left: 0;
    display: block;
    background: #2C39F2;
    width: 30px;
    height: 2px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s
}

.mobile-menu {
    display: none
}

.lineHamb.lineHamb-1 {
    top: 0
}

.lineHamb.lineHamb-3 {
    top: 100%
}

.lineHamb.lineHamb-2 {
    top: 50%
}

#hamburger-icon.active .lineHamb-1 {
    transform: translateY(7px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    -moz-transform: translateY(7px) translateX(0) rotate(45deg);
    -ms-transform: translateY(7px) translateX(0) rotate(45deg);
    -o-transform: translateY(7px) translateX(0) rotate(45deg)
}

#hamburger-icon.active .lineHamb-2 {
    opacity: 0
}

#hamburger-icon.active .lineHamb-3 {
    transform: translateY(-10px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-10px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
    -o-transform: translateY(-10px) translateX(0) rotate(-45deg);
}

.ov-hidden {
    overflow: hidden
}

@media screen and (max-width: 1024px) {
    .container,
    .header__wrapper {
        padding: 0 35px;
        max-width: 100%;
    }
    .header {
        margin-bottom: 62px;
    }
    .main-img-text {
        margin: 0 -15px 0 0;
    }
}

@media screen and (max-width: 1020px) {
    main .title {
        font-size: 72px;
        line-height: 1.2;
    }
}

@media screen and (max-width: 992px) {
    .bg-img {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }
    .show .menu {
        transform: translate(100vw, 0);
        -webkit-transform: translate(100vw, 0);
        -moz-transform: translate(100vw, 0);
        -ms-transform: translate(100vw, 0);
        -o-transform: translate(100vw, 0);
    }
    .menu {
        position: fixed;
        top: 74px;
        right: 0;
        width: 100vw;
        margin: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: start;
        -webkit-box-pack: start;
        justify-content: start;
        height: calc(100vh - 74px);
        z-index: 30;
        overflow: auto;
        background: #fff;
        padding: 15px 15px 85px;
        box-sizing: border-box;
        transform: translate(100vw, 0);
        -webkit-transform: translate(100vw, 0);
        -moz-transform: translate(100vw, 0);
        -ms-transform: translate(100vw, 0);
        -o-transform: translate(100vw, 0);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
        li {
            margin-right: 0;
            margin-bottom: 30px;
        }
        li:last-child {
            margin-bottom: 0;
        }
        a {
            font-weight: 500;
            font-size: 28px;
            line-height: 28px;
        }
    }
    .menu.active {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
    .loader {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .loader img {
        margin-bottom: 75px;
    }
}

.ov-hidden {
    overflow: hidden!important;
}

@media screen and (max-width: 900px) {
    .main-img {
        position: fixed;
        top: 74px;
        left: 0;
        width: 100vw;
        margin: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: start;
        -webkit-box-pack: start;
        justify-content: start;
        height: calc(100vh - 74px);
        z-index: 30;
        overflow: auto;
        background: #2C39F2;
        padding: 15px 15px 85px;
        box-sizing: border-box;
        transform: translate(-100vw, 0);
        -webkit-transform: translate(-100vw, 0);
        -moz-transform: translate(-100vw, 0);
        -ms-transform: translate(-100vw, 0);
        -o-transform: translate(-100vw, 0);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            display: none;
        }
        .img-mobile {
            display: block;
        }
        p {
            max-width: 352px;
            width: 100%;
            margin: 0 auto;
            font-weight: normal;
            font-size: 30px;
            line-height: 40px;
            color: #FFFFFF;
        }
    }
    .header {
        margin-bottom: 0;
    }
    main {
        padding-top: 246px;
    }
    main .title {
        font-weight: normal;
        font-size: 96px;
        line-height: 96px;
    }
    .main-img.active {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@media screen and (max-width: 650px) {
    main .title {
        font-size: 42px;
        line-height: 42px;
    }
    .loader {
        padding: 100px 15px;
    }
}

// используйте это для отключения ховеров на тач устройствах
// ! но не используйте это для текстовых полей ( input, textarea )
// также для любых transition обязательно указывайте transition-property
// transition: color $default-transition-settings, а не transition: $default-transition-settings

/* @media (hover: hover), screen and (min-width: 0\0) {
  &:hover,
  &:focus {
    color: red;
  }
} */